<header>
    <div class="logo">Mismiy</div>
    <nav>
        <menu>
            <li><a href="{{^ dotdotslash }}./{{/ dotdotslash }}{{ dotdotslash }}">Blog</a></li>
            <li><a href="https://github.com/pdc/mismiy">Code</a></li>
        </menu>
    </nav>
</header>
