<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset=UTF-8>
        <title>Index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style>
            {{> inline.css }}

            h1 {
                    margin: 0;
                    font-size: 1em;
                    font-weight: 500;
            }
            ul.main {
                margin: 0;
                padding: 0;
            }

            @media (min-width: 36em) {
                p.text {
                    grid-column: 2 / span 2;
                }
                h1 {
                    grid-column: 2;
                }
                ul.main {
                    grid-column: 3;

                    & li {
                        display: block;
                        margin: 0 0 0.625em;

                        & a {
                            display: block;
                        }
                    }
                }
            }
        </style>
    </head>
    <body>
        {{> header.html }}
        <p class="text">
            Mismiy is yet another static site generator.
        </p>
        <h1>Blog index</h1>
        <ul class="main">
            {{# reverse_chronological }}
            <li>
                <a href="{{ href }}">{{ title }}</a>
            </li>
            {{/ reverse_chronological }}
        </ul>
        <link rel=stylesheet href="{{ dotdotslash }}style.css">
    </body>
</html>
    
