@media (prefers-color-scheme: light) {
    :root {
        --link: #39F;
        --visited: #639;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --link: #C60;
        --visited: #9C6;
    }
}

body > header {
    & a:link, & a:visited {
        color: inherit;
        text-decoration: inherit;
    }
    & a:hover, & a:active {
        color: var(--link);
        text-decoration: underline;
    }
}

.text, .main {

    & a:link {
        color: var(--link);
    }
    & a:visited {
        color: var(--visited);
    }
    & a:hover,
    & a:active {
        color: var(--link);
    }
}

