<figure id="{{id}}">
    <img alt="{{alt}}"{{#width}}
        width={{.}}{{/width}}{{#height}}
        height={{.}}{{/height}}
        src="{{src}}"{{#srcset}}
        srcset="{{srcset}}"{{/srcset}}{{#description}}
        longdesc="#{{id}}-desc"{{/description}}>{{#caption}}
    <figcaption>
       {{{caption_html}}}{{#description}}
       <details>
            <summary>Image description</summary>
            <p id="#{{id}}-desc">{{.}}</p>
        </details>{{/description}}
    </figcaption>{{/caption}}
</figure>
