<header>
    <div class="logo">Mismiy</div>
    <nav>
        <menu>
            <li><a href="about.html">About</a></li>
            <li>{{^is_index}}<a href="{{^ dotdotslash }}./{{/ dotdotslash }}{{ dotdotslash }}">Blog</a>{{/is_index}}{{#is_index}}<b>Blog</b>{{/is_index}}</li>
            <li><a href="https://github.com/pdc/mismiy">Code</a></li>
        </menu>
    </nav>
</header>
