<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset=UTF-8>
        <title>Index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style>
            {{> inline.css }}
            {{> index.css }}
        </style>
        {{#links}}
        <link rel={{rel}} href="{{href}}"{{#type}} type="{{type}}"{{/type}}>
        {{/links}}
    </head>
    <body>
        {{>header.html}}
        <section class="text">
            {{{body}}}
        </section>
        <h1>Build log (blog)</h1>
        <ul class="main">
            {{#reverse_chronological}}
            <li>
                {{#published}}
                <time datetime="{{iso_date}}">{{day}} {{month_name}} {{year}}</time>
                {{/ published }}
                <a href="{{ href }}">{{ title }}</a>
            </li>
            {{/reverse_chronological}}
        </ul>
        <link rel=stylesheet href="{{ dotdotslash }}style.css">
    </body>
</html>
