
:root {
    --swiss: "Helvetica Neue", "Arial Nova", "Helvetica", "Arial", sans-serif;
    --code: "Verdana", "DejaVu Sans", "Vera Sans", sans-serif;
    --text: "Palatino Linotype", "Palatino", "Palladio", "URW Palladio L", "Book Antiqua", serif;
}

body {
    font-family: var(--swiss);
    font-size: 16px;
    line-height: 1.25;

    color-scheme: light dark;
    color: CanvasText;
    background-color: Canvas;
}

body > header {
    border-bottom: 1px dotted CanvasText;
    padding-top: 1rem;
    padding-bottom: 0.5rem;

    & .logo {
        font-size: 2em;
        font-weight: 200;
    }
    & menu {
        display: flex;
        gap: 1em;
        margin: 0;
        padding: 0;

        & li {
            display: block;

            & a {
                display: block;
            }
        }
    }
}

@media (max-width: 36em) {
    pre  {
        width: 100%;
        overflow: auto;
    }
}

@media (min-width: 36em) {
    body {
        display: grid;
        grid-template-columns: minmax(max-content, 1fr) 12em minmax(24em, 36em) minmax(1rem, 1fr);
    }
    body > header {
        grid-column: 1 / span 4;
        display: grid;
        grid-template-columns: subgrid;
        align-items: baseline;
    }
    .meta {
        display: flex;
        flex-flow: column nowrap;
    }
}

.meta {
    font-size: 13px;
    line-height: calc(1.5 * 16 / 13);
}

.text {
    font-family: var(--text);
    line-height: 1.5;

    & p {
        margin-top: 0;
        margin-bottom: 0;
    }
    & p + p {
        margin-top: 1.5em;
    }
    & pre {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    & pre {
        margin-left: 2em;
        line-height: 1.25;

        & > code {
            display: block;
        }
    }

    & blockquote {
        margin-left: 2em;
        line-height: 1.25;
    }

    & h2, & h3 {
        font-family: var(--swiss);
    }

    & h2 {
        font-size: 1.25em;
        font-weight: 600;
        margin: 2em 0 1em;
    }
 }

 code {
    font-family:  var(--code);
    font-size-adjust: 0.469;  /* x height of Palatino. */
 }
