<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset=UTF-8>
        <title>Index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style>
            {{> inline.css }}
            {{> index.css }}
        </style>
        {{#links}}
        <link rel={{rel}} href="{{href}}"{{#type}} type="{{.}}"{{/type}}>
        {{/links}}
    </head>
    <body>
        {{>header.html}}
        <h1>Tagged {{#tags}}{{^first}} + {{/first}}<i>{{label}}</i>{{/tags}}</h1>
        <ul class="main">
            {{# reverse_chronological }}
            <li>
                {{# published }}
                <time datetime="{{iso_date}}">{{day}} {{month_name}} {{year}}</time>
                {{/ published }}
                <a href="{{dotdotslash}}{{href}}">{{title}}</a>
            </li>
            {{/ reverse_chronological }}
        </ul>
        <aside class="more">
            {{#has_narrowings}}
            <p>Narrowings</p>
            <menu class="tags">
                {{#narrowings}}
                <li><a href="{{dotdotslash}}{{href}}">{{label}} <span><rp>(</rp>{{count}}<rp>)</rp></span></a></li>
                {{/narrowings}}
            </menu>
            {{/has_narrowings}}
            {{#has_widenings}}
            <p>Widenings</p>
            <menu class="tags">
                {{#widenings}}
                <li><a href="{{dotdotslash}}{{href}}">{{label}} <span><rp>(</rp>{{count}}<rp>)</rp></span></a></li>
                {{/widenings}}
            </menu>
            {{/has_widenings}}
        </aside>
        <link rel=stylesheet href="{{ dotdotslash }}style.css">
    </body>
</html>

